.el_accent_head {
	background-color: $accent_color;
	border-radius: 38px;
	color: $sub_color;
	display: inline-block;
	height: 38px;
	@include f_around(20 , 30 , false , false);
	line-height: 38px;
	text-align: center;

	a {
		color: $sub_color;
	}
}


#plan {
	.el_accent_head {
		height: 82px;
		@include f_around(35 , 52.5 , 700 , false);
		line-height: 82px;
		text-align: center;
		width: 730px;
	}

	// 一番下
	.el_accent_wrap {
		position: relative;
		text-align: center;
		width: 100%;

		.el_accent_head {
			margin-top: 80px;
		}

		.el_headTree_first , .el_headTree_second {
			position: absolute;
			top: 50px;
		}

		.el_headTree_first {
			@include maxmq(full) {
				left: 1%;
			}
			left: -50px;
		}
		.el_headTree_second {
			@include maxmq(full) {
				right: 1%;
			}
			right: -50px;
		}
	}

	.bl_strongBox_subBlock {
		// PC時右側
		.el_accent_head {
			background-color: $accentSub_color;
			height: 65px;
			@include f_around(27 , 40.5 , 700 , false);
			line-height: 65px;
			margin-top: 50px;
			width: 100%;
		}
	}

	// PC時左側
	.bl_strongBox:nth-of-type(2) .el_accent_head {
		height: 65px;
		@include f_around(27 , 40.5 , 700 , false);
		line-height: 65px;
		margin-top: 75px;
		position: relative;
	}
	.bl_strongBox:nth-of-type(2) .el_accent_head::before {
		color: $accentSub_color;
		content: "＼そんな方は、こちらをチェック／";
		display: block;
		font-size: rem(25);
		left: 1.5em;
		position: absolute;
		top: -55px;
	}
}
