.ly_header {
	position: absolute;
	top: 0;
	width: 100%;
}

.ly_header_inner {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1330px;
	padding: 25px 0;
	width: 100%;
}

.bl_header_block {
	align-items: center;
	display: flex;
}

// ロゴ
.el_logo {
	background: #bebebe;
	display: block;
	height: 45px;
	width: 148px;
}

.el_header_list:not(:first-of-type) {
	margin-left: 39px;
}
.el_header_list:last-of-type {
	margin-left: 10px;
}

.el_header_list {
	font-family: robot;
	font-size: rem(14);

	a {
		color: #000;
		display: block;
	}
}
