/* 共通モジュールのスタイル */
/************************************************/
.el_section_title {
	color: $accent_color;
	@include l_height(18 , 27);
	position: relative;
	text-align: center;
}

.el_section_title::after {
	display: block;
	font-size: rem(45);
	@include f_around(45 , false , 700 , false);
	line-height: 0;
	padding-top: 17px;
	text-transform: capitalize;
}

.el_section_concept {
	padding-top: 75px;
}
.el_section_concept::after {
	content: "concept";
}

.el_section_service {
	margin-top: 86px;
}
.el_section_service::after {
	content: "service";
}
.el_section_plan::after {
	content: "plan";
}
.el_section_activety::after {
	content: "activety";
}
.el_section_information::after {
	content: "information";
}
.el_section_faq::after {
	content: "faq";
	text-transform: uppercase;
}
.el_section_contact::after {
	content: "contact";
}
