/* セクション独自のスタイル */
/************************************************/
.un_concept_textWrap {
	@include l_height(20 , 30);
	margin: 0 auto;
	margin-top: 50px;
	max-width: 800px;
	text-align: center;
}

// ボトム背景
.un_concept_bottomBg {
	background-image: url(../../../public/assets/img/symbol/concept/bg_green.png);
	background-size: cover;
	display: block;
	height: 135.38px;
	// bottom: 0;
	// position: absolute;
}
