@charset "UTF-8";
/* base */
/************************************************/
body {
  color: #000;
  font-family: YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  overflow-x: hidden;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}

/* layoutModule */
/************************************************/
.ly_concept {
  padding-top: 90px;
  position: relative;
}

/* 共通モジュールのスタイル */
/************************************************/
.el_section_title {
  font-size: 1.0625rem;
  line-height: 1.58824;
  position: relative;
  text-align: center;
}

.el_section_title::after {
  display: block;
  font-size: 2.8125rem;
  line-height: 0;
  padding-top: 17px;
  text-transform: capitalize;
}

.el_section_concept::after {
  content: "concept";
}

.el_section_service::after {
  content: "service";
}

.el_section_plan::after {
  content: "plan";
}

.el_section_activety::after {
  content: "activety";
}

.el_section_information::after {
  content: "information";
}

.el_section_faq::after {
  content: "faq";
  text-transform: uppercase;
}

.el_section_contact::after {
  content: "contact";
}

.el_nav_link {
  cursor: pointer;
  display: block;
}

/*slick setting*/
.bl_slide_container {
  max-width: 1130px;
}

@media screen and (max-width: 1100px) {
  .bl_slide_container {
    padding: 0 20px;
  }
}

/* セクション独自のスタイル */
/************************************************/
.un_concept_textWrap {
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 800px;
  text-align: center;
}

.un_concept_bottomBg {
  background-image: url(../../../public/assets/img/symbol/concept/bg_green.png);
  background-size: cover;
  display: block;
  height: 135.38px;
}

/* helperスタイル */
/************************************************/
.hp_mt0 {
  margin-top: 0px !important;
}

.hp_mb0 {
  margin-bottom: 0px !important;
}

.hp_mt10 {
  margin-top: 10px !important;
}

.hp_mb10 {
  margin-bottom: 10px !important;
}

.hp_mt20 {
  margin-top: 20px !important;
}

.hp_mb20 {
  margin-bottom: 20px !important;
}

.hp_mt30 {
  margin-top: 30px !important;
}

.hp_mb30 {
  margin-bottom: 30px !important;
}

.hp_mt40 {
  margin-top: 40px !important;
}

.hp_mb40 {
  margin-bottom: 40px !important;
}

.hp_mt50 {
  margin-top: 50px !important;
}

.hp_mb50 {
  margin-bottom: 50px !important;
}

.hp_mt60 {
  margin-top: 60px !important;
}

.hp_mb60 {
  margin-bottom: 60px !important;
}

.hp_mt70 {
  margin-top: 70px !important;
}

.hp_mb70 {
  margin-bottom: 70px !important;
}

.hp_mt80 {
  margin-top: 80px !important;
}

.hp_mb80 {
  margin-bottom: 80px !important;
}

.hp_mt90 {
  margin-top: 90px !important;
}

.hp_mb90 {
  margin-bottom: 90px !important;
}

.hp_mt100 {
  margin-top: 100px !important;
}

.hp_mb100 {
  margin-bottom: 100px !important;
}

.hp_mt110 {
  margin-top: 110px !important;
}

.hp_mb110 {
  margin-bottom: 110px !important;
}

.hp_mt120 {
  margin-top: 120px !important;
}

.hp_mb120 {
  margin-bottom: 120px !important;
}

.hp_mt130 {
  margin-top: 130px !important;
}

.hp_mb130 {
  margin-bottom: 130px !important;
}

.hp_mt140 {
  margin-top: 140px !important;
}

.hp_mb140 {
  margin-bottom: 140px !important;
}

.hp_mt150 {
  margin-top: 150px !important;
}

.hp_mb150 {
  margin-bottom: 150px !important;
}

.hp_Bg {
  background-color: #70a24d;
}

.hp_subBg {
  background-color: #c5d02c;
}

.hp_fotterBg {
  background-color: #70a24d;
}

/* js対応スタイル */
/************************************************/
