/* layoutModule */
/************************************************/
.ly_concept {
	position: relative;
}

.ly_fv {
	background-image: url(../../../public/assets/img/logo/fv.png);
	background-size: cover;
	height: 812.5px;
}


.ly_concept {
	position: relative;
}

.ly_concept_inner {
	margin: 0 auto;
	max-width: 1162px;
	position: relative;
}
.ly_concept_treeLeft , .ly_concept_treeRight {
	position: absolute;
	top: 118px;
}

.ly_concept_treeLeft {
	left: 0;
}
.ly_concept_treeRight {
	right: 0;
}
